# This dataset contains information on historic trades for several cryptoassets, such as Bitcoin and Ethereum. Your challenge is to predict their future returns.

As historic cryptocurrency prices are not confidential this will be a forecasting competition using the time series API. Furthermore the public leaderboard targets are publicly available and are provided as part of the competition dataset. Expect to see many people submitting perfect submissions for fun. Accordingly, THE PUBLIC LEADERBOARD FOR THIS COMPETITION IS NOT MEANINGFUL and is only provided as a convenience for anyone who wants to test their code. The final private leaderboard will be determined using real market data gathered after the submission period closes.

train.csv - The training set

- timestamp - A timestamp for the minute covered by the row.
- Asset_ID - An ID code for the cryptoasset.
- Count - The number of trades that took place this minute.
- Open - The USD price at the beginning of the minute.
- High - The highest USD price during the minute.
- Low - The lowest USD price during the minute.
- Close - The USD price at the end of the minute.
- Volume - The number of cryptoasset u units traded during the minute.
- VWAP - The volume-weighted average price for the minute.
- Target - 15 minute residualized returns. See the 'Prediction and Evaluation section of this notebook for details of how the target is calculated.
- Weight - Weight, defined by the competition hosts here
- Asset_Name - Human readable Asset name.

example_test.csv - An example of the data that will be delivered by the time series API.

example_sample_submission.csv - An example of the data that will be delivered by the time series API. The data is just copied from train.csv.

asset_details.csv - Provides the real name and of the cryptoasset for each Asset_ID and the weight each cryptoasset receives in the metric.

supplemental_train.csv - After the submission period is over this file's data will be replaced with cryptoasset prices from the submission period. In the Evaluation phase, the train, train supplement, and test set will be contiguous in time, apart from any missing data. The current copy, which is just filled approximately the right amount of data from train.csv is provided as a placeholder.

    ðŸ“Œ There are 14 coins in the dataset

    ðŸ“Œ There are 4 years in the [full] dataset

# Code

In [1]:
%matplotlib inline
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats

import torch
import torch.nn as nn
import torch.nn.functional as F
import torch.optim as optim
from torch.utils.data import Dataset, DataLoader
from tqdm import tqdm

import time

In [2]:
# check if CUDA is available
use_cuda = torch.cuda.is_available()
print(use_cuda)

False

# Load data

In [4]:
pd.set_option('display.max_rows', None)
train_csv = pd.read_csv("train.csv")
print(len(train_csv))
test_csv = pd.read_csv("example_test.csv")
print(len(test_csv))
samples_submission_csv = pd.read_csv("example_sample_submission.csv")

24236806
56

# Memory review

In [6]:
train_csv.info(memory_usage = "deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24236806 entries, 0 to 24236805
Data columns (total 10 columns):
 #   Column     Dtype
---  ------     -----
 0   timestamp  int64
 1   Asset_ID   int64
 2   Count      float64
 3   Open       float64
 4   High       float64
 5   Low        float64
 6   Close      float64
 7   Volume     float64
 8   VWAP       float64
 9   Target     float64
dtypes: float64(8), int64(2)
memory usage: 1.8 GB

# Memory Size Reduction

In [14]:
for column in train_csv:
    print(column)
    if train_csv[column].dtype == 'float64':
        train_csv[column]=pd.to_numeric(train_csv[column], downcast='float')
    if train_csv[column].dtype == 'int64':
        train_csv[column]=pd.to_numeric(train_csv[column], downcast='integer')

timestamp
Asset_ID
Count
Open
High
Low
Close
Volume
VWAP
Target

In [15]:
train_csv.info(memory_usage = "deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24236806 entries, 0 to 24236805
Data columns (total 10 columns):
 #   Column     Dtype
---  ------     -----
 0   timestamp  int32
 1   Asset_ID   int8
 2   Count      float32
 3   Open       float32
 4   High       float32
 5   Low        float32
 6   Close      float32
 7   Volume     float32
 8   VWAP       float32
 9   Target     float32
dtypes: float32(8), int32(1), int8(1)
memory usage: 855.2 MB

# Dataset description

In [16]:
dtf_description = train_csv.describe()
dtf_description

,timestamp,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,Target
count,2.423681e+07,2.423681e+07,2.423681e+07,2.423681e+07,2.423681e+07,2.423681e+07,2.423681e+07,2.423681e+07,2.423680e+07,2.348647e+07
mean,1.577120e+09,6.292544e+00,2.864594e+02,1.432640e+03,1.436351e+03,1.429568e+03,1.432642e+03,2.868529e+05,NaN,7.121750e-06
std,3.323350e+07,4.091861e+00,8.673981e+02,6.029605e+03,6.039482e+03,6.020261e+03,6.029611e+03,2.433935e+06,NaN,5.679042e-03
min,1.514765e+09,0.000000e+00,1.000000e+00,1.170400e-03,1.195000e-03,2.000000e-04,1.171400e-03,-3.662812e-01,-inf,-5.093510e-01
25%,1.549011e+09,3.000000e+00,1.900000e+01,2.676500e-01,2.681600e-01,2.669000e-01,2.676484e-01,1.410725e+02,2.676368e-01,-1.694354e-03
50%,1.578372e+09,6.000000e+00,6.400000e+01,1.428860e+01,1.431250e+01,1.426300e+01,1.428920e+01,1.295415e+03,1.428769e+01,-4.289844e-05
75%,1.606198e+09,9.000000e+00,2.210000e+02,2.288743e+02,2.293000e+02,2.284200e+02,2.288729e+02,2.729764e+04,2.288728e+02,1.601520e-03
max,1.632182e+09,1.300000e+01,1.650160e+05,6.480595e+04,6.490000e+04,6.467053e+04,6.480854e+04,7.597554e+08,inf,9.641699e-01

In [4]:
train_csv

pandas.core.frame.DataFrame

In [5]:
train_csv.iloc[1:10]

,timestamp,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,Target
1,1514764860,0,5.0,8.530000,8.5300,8.5300,8.530000,78.380000,8.530000,-0.014399
2,1514764860,1,229.0,13835.194000,14013.8000,13666.1100,13850.176000,31.550062,13827.062093,-0.014643
3,1514764860,5,32.0,7.659600,7.6596,7.6567,7.657600,6626.713370,7.657713,-0.013922
4,1514764860,7,5.0,25.920000,25.9200,25.8740,25.877000,121.087310,25.891363,-0.008264
5,1514764860,6,173.0,738.302500,746.0000,732.5100,738.507500,335.987856,738.839291,-0.004809
6,1514764860,9,167.0,225.330000,227.7800,222.9800,225.206667,411.896642,225.197944,-0.009791
7,1514764860,11,7.0,329.090000,329.8800,329.0900,329.460000,6.635710,329.454118,NaN
8,1514764920,2,53.0,2374.553333,2400.9000,2354.2000,2372.286667,24.050259,2371.434498,-0.004079
9,1514764920,0,7.0,8.530000,8.5300,8.5145,8.514500,71.390000,8.520215,-0.015875

In [7]:
test_csv

,timestamp,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,group_num,row_id
0,1623542400,3,1201.0,1.478556,1.486030,1.478000,1.483681,6.547996e+05,1.481439,0,0
1,1623542400,2,1020.0,580.306667,583.890000,579.910000,582.276667,1.227988e+03,581.697038,0,1
2,1623542400,0,626.0,343.789500,345.108000,343.640000,344.598000,1.718833e+03,344.441729,0,2
3,1623542400,1,2888.0,35554.289632,35652.464650,35502.670000,35602.004286,1.638115e+02,35583.469303,0,3
4,1623542400,4,433.0,0.312167,0.312600,0.311920,0.312208,5.855774e+05,0.312154,0,4
5,1623542400,5,359.0,4.832550,4.845900,4.822900,4.837583,4.714355e+04,4.836607,0,5
6,1623542400,7,541.0,55.223080,55.494000,55.182000,55.344680,6.625202e+03,55.298816,0,6
7,1623542400,6,2186.0,2371.194286,2379.200000,2369.670000,2374.380714,1.214129e+03,2374.335307,0,7
8,1623542400,8,35.0,1.003150,1.019800,0.987300,1.003300,7.061928e+03,1.002936,0,8
9,1623542400,9,560.0,161.933429,162.480000,161.730000,162.214714,1.485009e+03,162.231310,0,9
10,1623542400,10,61.0,2939.862750,2952.160000,2936.230000,2947.078025,9.584785e+00,2945.110614,0,10
11,1623542400,13,229.0,0.068132,0.068240,0.068038,0.068158,3.046438e+06,0.068158,0,11
12,1623542400,12,383.0,0.327973,0.329272,0.327650,0.328829,5.364911e+05,0.328582,0,12
13,1623542400,11,123.0,243.137500,243.810000,242.960000,243.532500,3.079589e+02,243.452697,0,13
14,1623542460,3,672.0,1.482410,1.483759,1.479200,1.482043,2.858286e+05,1.481495,1,14
15,1623542460,2,1251.0,581.800000,585.590000,580.380000,582.358333,1.405285e+03,583.451389,1,15
16,1623542460,0,458.0,344.353500,344.790000,343.620000,344.089500,1.217352e+03,344.188716,1,16
17,1623542460,1,2006.0,35596.771429,35621.000000,35533.380000,35555.397143,9.336366e+01,35584.861196,1,17
18,1623542460,4,573.0,0.312274,0.312400,0.311540,0.311847,9.396433e+05,0.311930,1,18
19,1623542460,5,644.0,4.834550,4.849500,4.818500,4.838300,8.678307e+04,4.837430,1,19
20,1623542460,7,530.0,55.320900,55.426600,55.149000,55.286400,6.929458e+03,55.265491,1,20
21,1623542460,6,1261.0,2373.970101,2375.350000,2369.370000,2371.790000,7.867385e+02,2372.809830,1,21
22,1623542460,8,98.0,1.003050,1.019600,0.984100,1.001550,4.771951e+04,1.001078,1,22
23,1623542460,9,381.0,162.141857,162.380000,161.800000,162.193000,1.344810e+03,162.121310,1,23
24,1623542460,10,35.0,2946.370567,2949.720000,2943.710000,2945.711900,2.794134e+00,2946.633163,1,24
25,1623542460,13,395.0,0.068144,0.068334,0.068040,0.068217,4.981365e+06,0.068201,1,25
26,1623542460,12,287.0,0.328656,0.329280,0.327780,0.328563,4.496390e+05,0.328548,1,26
27,1623542460,11,62.0,243.368000,243.500000,242.940000,243.330000,1.435053e+02,243.337398,1,27
28,1623542520,3,849.0,1.481493,1.482896,1.477801,1.479259,4.868546e+05,1.480640,2,28
29,1623542520,2,540.0,582.100000,582.670000,579.620000,580.540000,4.723730e+02,580.850017,2,29
30,1623542520,0,535.0,343.778000,344.060000,342.500000,343.009500,9.757970e+02,343.139652,2,30
31,1623542520,1,3531.0,35550.271250,35576.590000,35402.870000,35488.287500,2.205352e+02,35480.068897,2,31
32,1623542520,4,1667.0,0.311670,0.312000,0.310430,0.311006,3.416122e+06,0.311131,2,32
33,1623542520,5,380.0,4.833440,4.835700,4.814300,4.822080,4.128848e+04,4.824327,2,33
34,1623542520,7,825.0,55.225700,55.309600,54.910000,55.026050,1.231549e+04,55.095780,2,34
35,1623542520,6,1856.0,2370.880011,2371.950076,2363.000000,2365.590000,7.640805e+02,2367.128372,2,35
36,1623542520,8,53.0,1.000450,1.016400,0.981700,0.997500,1.216251e+04,0.998949,2,36
37,1623542520,9,439.0,161.876143,162.030000,161.460000,161.829143,1.265969e+03,161.737656,2,37
38,1623542520,10,56.0,2939.582925,2941.808300,2930.030000,2933.232000,6.084640e+00,2937.153112,2,38
39,1623542520,13,338.0,0.068159,0.068170,0.067950,0.068025,2.790134e+06,0.068057,2,39
40,1623542520,12,264.0,0.328061,0.328370,0.326973,0.327497,7.424868e+05,0.327676,2,40
41,1623542520,11,49.0,242.745000,243.000000,242.230000,242.347500,5.420834e+01,242.451070,2,41
42,1623542580,3,1023.0,1.479075,1.479399,1.472600,1.473527,3.286849e+05,1.476372,3,42
43,1623542580,2,409.0,580.490000,580.690000,578.310000,578.912000,2.045210e+02,579.470144,3,43
44,1623542580,0,614.0,343.238000,343.406000,341.940000,342.325000,1.295199e+03,342.525876,3,44
45,1623542580,1,2901.0,35478.867162,35503.460134,35381.010000,35423.490000,1.188025e+02,35438.243466,3,45
46,1623542580,4,1094.0,0.310923,0.311400,0.310400,0.310676,2.403980e+06,0.310894,3,46
47,1623542580,5,465.0,4.819883,4.822100,4.808300,4.813450,3.476754e+04,4.815294,3,47
48,1623542580,7,347.0,54.997567,55.044200,54.916800,54.940950,2.735096e+03,54.974253,3,48
49,1623542580,6,2624.0,2365.769427,2367.500000,2359.010000,2360.505714,2.253663e+03,2362.394059,3,49
50,1623542580,8,169.0,0.996600,1.012900,0.975100,0.991000,6.251820e+04,0.992974,3,50
51,1623542580,9,431.0,161.862333,161.930000,161.270000,161.485000,1.156636e+03,161.595349,3,51
52,1623542580,10,34.0,2930.150250,2931.520000,2921.660000,2925.073700,1.187095e+00,2926.427322,3,52
53,1623542580,13,240.0,0.068015,0.068055,0.067866,0.067936,2.572088e+06,0.067958,3,53
54,1623542580,12,276.0,0.327267,0.327410,0.326130,0.326406,2.571778e+05,0.326834,3,54
55,1623542580,11,107.0,242.360000,242.550000,241.700000,242.074000,1.393091e+02,242.123168,3,55

In [8]:
samples_submission_csv

    group_num  row_id  Target
0           0       0       0
1           0       1       0
2           0       2       0
3           0       3       0
4           0       4       0
5           0       5       0
6           0       6       0
7           0       7       0
8           0       8       0
9           0       9       0
10          0      10       0
11          0      11       0
12          0      12       0
13          0      13       0
14          1      14       0
15          1      15       0
16          1      16       0
17          1      17       0
18          1      18       0
19          1      19       0
20          1      20       0
21          1      21       0
22          1      22       0
23          1      23       0
24          1      24       0
25          1      25       0
26          1      26       0
27          1      27       0
28          2      28       0
29          2      29       0
30          2      30       0
31          2      31       0
32          2      32       0
33          2      33       0
34          2      34       0
35          2      35       0
36          2      36       0
37          2      37       0
38          2      38       0
39          2      39       0
40          2      40       0
41          2      41       0
42          3      42       0
43          3      43       0
44          3      44       0
45          3      45       0
46          3      46       0
47          3      47       0
48          3      48       0
49          3      49       0
50          3      50       0
51          3      51       0
52          3      52       0
53          3      53       0
54          3      54       0
55          3      55       0

In [9]:
asset_csv = pd.read_csv("asset_details.csv")

In [10]:
asset_csv

    Asset_ID    Weight        Asset_Name
0          2  2.397895      Bitcoin Cash
1          0  4.304065      Binance Coin
2          1  6.779922           Bitcoin
3          5  1.386294            EOS.IO
4          7  2.079442  Ethereum Classic
5          6  5.894403          Ethereum
6          9  2.397895          Litecoin
7         11  1.609438            Monero
8         13  1.791759              TRON
9         12  2.079442           Stellar
10         3  4.406719           Cardano
11         8  1.098612              IOTA
12        10  1.098612             Maker
13         4  3.555348          Dogecoin